html, body{
    height: 100%;
}
body{
    background-color: #fff;
    background-image: linear-gradient(to top, #ff2e63, #252a34);
}@media (max-width: 355px) {
    body {
        overflow-x: hidden;
    }

    html { position: relative; }
}