.button-store{
    display: inline-block;
    background-color :#252c41;
    box-sizing: border-box;
    color: #fff;
    font: 20px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
}
.button-store.-second{
    background-color: transparent;
    border: 1px solid #fff;
    width: 218px;
    line-height: 56px;
}
