.button-store{
    display: inline-block;
    background-color :#252c41;
    box-sizing: border-box;
    color: #fff;
    font: 20px Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    cursor: pointer;
 
    transition: background-color 400ms linear, color 1s linear;
}

.button-store.-second{
    background-color: transparent;
    border: 2px solid #fff;
    width: 218px;
    line-height: 56px;
    margin-right: 38px;
    cursor: pointer;
}
.button-store.-second:hover,
.button-store.-second:focus{
    background-color: #fff;
    color: #e24647;
}
.button-store:active {
    transform: scale(0.9);
}
.button-store > button,
.button-store> a{
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    text-decoration: inherit;
}
@media(max-width: 500px){
    .button-store.-second{
        margin-right: 15px;
        margin-bottom: 10px;
        width: auto;
    }
}
@media(max-width: 470px){
    .button-store,
    .button-store.-second {
        display: block;
        width: 90%;
        margin: 0 auto 20px;
    }
    
}