.container-store{
    width: 80%;
    /*max-width: 1330px;*/
    padding: 55px 60px 95px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*background-color: #e24647;*/
    transform: translateX(-50%) translateY(-50%);  
}
/*@media (max-width: 1470px), (max-height: 952px) {
    .container-store {
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 1310px) {
    .container-store {
        padding-right: 0px;
    }
}

@media (max-height: 952px) {
    .container-store {
        max-width: 1330px;
        margin-left: auto;
        margin-right: auto;
    }
}*/