.container-store{
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 0 39px 0 rgba(50, 50, 50, 0.36);
    max-width: 1330px;
    position: absolute;
    background-color: #e24647;
    padding: 55px 60px 165px 0px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 1470px), (max-height: 952px) {
    .container-store {
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 1292px) {
    .container-store {
        padding-right: 0;
    }
}

@media (max-height: 952px) {
    .container-store {
        max-width: 1330px;
        margin-left: auto;
        margin-right: auto;
    }
}
