.header-store{  
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    margin-bottom: 139px;
    padding-left: 60px;
    
}
.header-store .title {
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    font: 40px ArialMT Arial, Helvetica, sans-serif;  
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
}
.header-store .navigation{
    float: right;
    font: 21px SegoeUI, ArialMT Arial, Helvetica, sans-serif;
}
.header-store [type="search"]{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, "Roboto", sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 358px;
    margin-right: 65px;
    vertical-align: bottom;
}
.header-store [type="search"]::placeholder{
  color: inherit; 
}
.header-store .item{
    display: inline-block;
    padding-bottom: 8px;
    margin-right: 60px;
}
.header-store .action{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 64px;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
}
.header-store .action::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 200ms linear;
  }
  .header-store .action:hover::after {
    transform: scale(1);
}
@media (max-width: 1310px) {
  .header-store {
    padding-right: 60px; 
  }
}

@media (max-width: 1235px) {

  .header-store {
    margin-bottom: 70px;
  }

  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 966px) {
  .header-store {
    padding-left: 30px;
    padding-right: 30px; 
  }
}

@media (max-width: 530px) {
  .header-store .item {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  .header-store .item {
    margin-right: 15px;
  }
}

@media (max-width: 390px) {
  .header-store {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-store .item {
    margin-right: 8px;
  }
}
@media (max-width: 350px) {
  .header-store .item.-menu{
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 41px;
    background: url(../img/menu.svg) #fff no-repeat center;
    text-indent: -9999px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    transform: translateX(-100%);
    transition: transform 400ms 100ms linear;
  }

  .header-store .list {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    padding: 40px 0 20px;

    transform: translateX(100%);
    transition: transform 300ms linear;
  }

  .header-store .list.-active {
    transform: translateX(0);
  }

  .header-store .list.-active .item.-menu {
    background-image: url(../img/close.svg);
    background-size: 65%;
    transform: translateX(0);
    transition: none;
  }

  .header-store .item {
    display: block;
  }

}