.input-search{
  display: inline-block;
}
.input-search > .content{
  width: 358px;
  margin-right: 65px;
  padding: 8px;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  vertical-align: bottom;
}
.input-search > .content::placeholder{
  color: inherit; 
}
.input-search > .icon {
  display: none;
}
@media (max-width: 966px) {
    .input-search{
      position: absolute;
      top: 0; left: 0;
      transform: translateX(calc(-100%+40px));  
      transition: transform 200ms linear;
    }

    .input-search.-active{
      transition: transform 400ms linear;

      transform: translateX(0);
    }
   .input-search > .content{
     background-color: #fff;
     color: #000;
     margin-right: 0;
     vertical-align: middle;
  }

  .input-search > .icon{
    display: none;
    background-color: #fff;
    box-sizing: border-box;
    width: 40px;
    height: 41px;
    padding: 8px;
    vertical-align: middle;
  }

  .input-search> .icon.-active{
    display: inline-block;
  }
  .input-search > .content::placeholder {
    color: #000;
}
}

@media (max-width: 400px){
  .input-search> .content{
    width: 70vw;
  }
}