.wrap-button{
    position: absolute;
    left: 60%;
    transform: translateY( calc(-100% + 98px));
}
@media (max-width: 1310px){
    .wrap-button{
        position: static;
        width: 100%;
        min-width: 655px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: none; 

     }    
}