.wrap-button{
    position: absolute;
    left: 60%;
    margin-left: 6px;
    transform: translateY( calc(-100% + 98px));
}
@media (max-width: 1292px){
    .wrap-button{
        position: static;
        width: 100%;
        margin-left:0 auto;
        text-align: center;
        transform: none; 

     }    
}