.wrap-product{
    display: inline-block;
    width: 454px;
    vertical-align: middle;
    position: relative;
}

@media(max-width: 1292px){
    .wrap-product{
       width: 100%; 
    }
}
