 .top-header{  
    background-color: #e24647;
    overflow: hidden;
    margin: 0px 115px 0px 115px;
    padding: 55px 50px 95px 60px;
}
h1, a{
    color: #ffffff;
}
h1{ 
    float: left;
    font: 40px ArialMT Arial, Helvetica, sans-serif;  
}
nav{
    padding: 2px 10px 0px 10px;
    font: 21px SegoeUI;
    float: right;
}
a{
    text-decoration: none;
}